.custom-nav .navbar-brand img {
  width: 8rem;
  height: auto;
}

.custom-nav .navbar-brand span {
  font-weight: 700;
  font-size: 2rem;
  margin-left: 10px;
  font-family: Mont-Bold;
}

.custom-nav button {
  padding: 0;
}

.custom-nav button span img {
  width: 45px;
}
